// 
//-- Grid Systems
//

$grid-gutter: 16px;

.grid {
	margin-right: ($grid-gutter * -1);
	margin-left: ($grid-gutter * -1);
}

@include generate_grid(xs, $grid-gutter);

@include phone-land {
	@include generate_grid(sm, $grid-gutter);
}

@include tablet-port {
	@include generate_grid(md, $grid-gutter);
}

@include tablet-land {
	@include generate_grid(lg, $grid-gutter);
}

//.bg {
//	background: #ccc;
//	padding: 0.2em;
//	margin-bottom: 1em;
//}